.w3-container{
    padding: 1rem;
}
.w3-card-4{
    background-color: white;
    padding: 1rem;
    width:40%;
}
.w3-input{
    padding-right: 20px;
}
.button {
    width: 100%;

}
.jumbotron{
    margin: 5%
}
img{display: block;
    margin-left: auto;
    margin-right: auto }